
h1, h2, h3, h4, h5
    font-family: 'Source Sans 3', Arial, Helvetica, sans-serif

h1
    font-size: 3.7rem
.text-h1
    font-size: 3.7rem

h2
    font-size: 2.5rem
.text-h1
    font-size: 2.5rem

h3
    font-size: 2rem
.text-h3
    font-size: 2rem

h4
    font-size: 1.75rem
.text-h4
    font-size: 1.75rem

a.app-link
    color: var(--app-link-text-color)
    &:hover
        color: var(--app-link-text-selected)

.text-italic
    font-style: italic

.text-bold
    font-weight: bold

.text-decorated
    display: inline
    width: 100%
    background: linear-gradient(to right, var(--app-color-decoration-primary), var(--app-color-decoration-secondary))
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
