body
    --main-color-white: #fff
    --main-color-light-gray: #edecec
    --main-color-light-blue: #76cdd8
    --main-color-light-blue-hover: #7bbbc6
    --main-color-blue: #0195df
    --main-color-gray: #bbb
    --main-color-dark-gray: #231f20
    --main-color-black: #000
    --main-color-continuum-yellow: #ffc300
    --main-color-continuum-light-green: #c9db48
    --main-color-continuum-blue: #005fcc
    --main-color-continuum-light-gray: #ddd
    --main-color-continuum-gray: #ccc
    --main-color-continuum-medium-dark-gray: #999
    --main-color-continuum-alto: #7d7d7d
    --main-color-continuum-dark-gray: #333
    --main-color-tio-teal: #78eac1
    --main-color-tio-violet: #7954ff
    --main-color-tio-medium-grey: #f4f4f4
    --main-color-tio-almost-black: #222222
    --main-color-turquoise: #00F6FF
    --main-buttons-container-gap: 10px

    --color-white-milk: #FEFCFF
    --color-grean: #3cb043
    --color-grean-chartreuse: #b0fc38

    // Application colors
    --app-color-main: var(--color-white-milk)
    --app-color-secondary: var(--main-color-light-gray)

    --app-color-decoration-primary: var(--main-color-blue)
    --app-color-decoration-secondary: var(--main-color-turquoise)

    --app-color-component: var(--color-grean)
    --app-color-component-active: var(--color-grean-chartreuse)

    --app-text-color-main: var(--main-color-tio-almost-black)
    --app-text-color-selected: var(--main-color-tio-almost-black)
    --app-text-color-unselected: var(--main-color-dark-gray)
    --app-link-text-color: var(--main-color-light-blue)
    --app-link-text-selected: var(--main-color-blue)
    --app-text-color-higtligth: #29344F

    --app-header-height: 60px
    --app-nav-link-height: 60px
    --app-component-border-bottom: 2px
    --app-max-width: 1128px

    --app-side-padding: 35rem
