.app-card
    padding: 1rem
    margin: 0.5rem 0

    border: 0
    border-radius: .5rem

    -webkit-box-shadow: 0px 0px 5px -2px var(--app-color-decoration-primary)
    -moz-box-shadow: 0px 0px 5px -2px var(--app-color-decoration-primary)
    box-shadow: 0px 0px 5px -2px var(--app-color-decoration-primary)

    &__title
        font-weight: 600
        visibility: visible

    &__content
        visibility: visible
